VIsual Flow Creator JSON File
[{"id":"21162a.fdec09d6","type":"tab","allowCycles":false,"label":"Management Dashboard Nodes","disabled":false,"info":""},{"id":"f453fa25.1c6068","type":"change","z":"21162a.fdec09d6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"availability","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2500,"y":1080,"wires":[["7fbb2bc5.737614"]],"_type":"node"},{"id":"cf64b835.c2f598","type":"change","z":"21162a.fdec09d6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OEE","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2500,"y":1140,"wires":[["d01d9734.1721c8"]]},{"id":"fb2c7624.a36ed8","type":"change","z":"21162a.fdec09d6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"quality","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2500,"y":960,"wires":[["32c97ed2.fa6692"]]},{"id":"af05bc8d.0bd85","type":"change","z":"21162a.fdec09d6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"performance","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2500,"y":1020,"wires":[["eba948d1.52f2c8"]],"_type":"node"},{"id":"ea9e8ed1.c21af","type":"change","z":"21162a.fdec09d6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"run_time_total","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2420,"y":860,"wires":[["d45a325a.1fc9f"]]},{"id":"caa30884.b9db18","type":"change","z":"21162a.fdec09d6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"idle_time_total","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2420,"y":800,"wires":[["9fb366cb.df8ec8"]],"_type":"node"},{"id":"8582c8ad.ec5048","type":"change","z":"21162a.fdec09d6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"product_count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2420,"y":740,"wires":[["5bb6f336.f555fc"]],"_type":"node"},{"id":"e094e39b.03a7c","type":"comment","z":"21162a.fdec09d6","name":"Manager Dashboard Nodes","info":"This is the managers side of the\ndashboard, however there needs some more\ndata points of other features:\n\n- OEE \n- Predic Time\n- Count (done)\n- Scheduals of productions\n- Logging of team members ","x":1860,"y":280,"wires":[]},{"id":"728efc2e.861294","type":"debug","z":"21162a.fdec09d6","name":"","active":true,"console":"false","xaxis":"_time","complete":"true","x":2310,"y":660,"wires":[]},{"id":"3707e2fe.7af7be","type":"debug","z":"21162a.fdec09d6","name":"","active":true,"console":"false","xaxis":"_time","complete":"false","x":2510,"y":560,"wires":[]},{"id":"5d3325a5.f6b6bc","type":"function","z":"21162a.fdec09d6","name":"Count Function","func":"var counter = context.get('counter') || 0; \nvar hitobject = context.get(\"hitobject\");\nvar sensor = msg.payload[0].Out_position\n\nif (hitobject ===undefined) {\n hitobject = true;\n context.set('hitobject', hitobject);\n msg.test = ('set')\n}\n\nif (msg.reset1 == true) {\n    counter = 0;\n    context.set(\"counter\", counter)\n}\n\nif ((sensor == true) && (hitobject == true)) {\n counter ++; \n hitobject = false;\n context.set('counter', counter);\n context.set('hitobject', hitobject);\n msg.count1 = counter;\n\n}\n\nelse if ((sensor == true) && (hitobject == false)) {\n msg.count1 = counter; \n\n}\n\nelse if ((sensor == false) && (hitobject == false)) {\n hitobject = true; \n context.set('hitobject', hitobject);\n msg.test = ('reset');\n msg.count1 = counter; \n\n}\n\nelse if ((sensor == false) && (hitobject == true)) {\n  msg.count1 = counter; \n \n}\n\nreturn msg;\n","outputs":1,"language":"javascript","noerr":0,"x":1620,"y":360,"wires":[["c7cd1b27.071aa8"]]},{"id":"7173ee0a.bac44","type":"function","z":"21162a.fdec09d6","name":"","func":"var product_count = msg.count1;\n\nvar idle_time1 = msg.payload.idle_time1;\nvar idle_time2 = msg.payload.idle_time2;\nvar idle_time3 = msg.payload.idle_time3; \nvar idle_time4 = msg.payload.idle_time4;\nvar idle_time5 = msg.payload.idle_time5; \nvar idle_time6 = msg.payload.idle_time6;\nvar idle_time7 = msg.payload.idle_time7; \n\nvar run_time1 = msg.payload.run_time1;\nvar run_time2 = msg.payload.run_time2; \nvar run_time3 = msg.payload.run_time3; \nvar run_time4 = msg.payload.run_time4; \nvar run_time5 = msg.payload.run_time5; \nvar run_time6 = msg.payload.run_time6;\nvar run_time7 = msg.payload.run_time7; \n\nvar planned_production_time = flow.get(\"a\")\nvar ideal_cycle_time = flow.get(\"b\")\n\nif (planned_production_time == undefined) {\n    planned_production_time = 0;\n}\nif (ideal_cycle_time == undefined) {\n    ideal_cycle_time = 0; \n}\n\nmsg.ideal_cycle_time = ideal_cycle_time; \nmsg.planned_production_time = planned_production_time\n\nvar OEE = context.get(\"OEE\") || 0; \nvar availability = context.get(\"availability\");\nvar performance = context.get(\"performance\");\nvar quality = context.get(\"quality\"); \n\nvar run_time_total = context.get(\"run_time_total\") || 0;\nvar idle_time_total = context.get(\"idle_time_total\") || 0; \n\n\nrun_time_total = run_time1 + run_time2 + run_time3 + run_time4 + run_time5 + run_time6 + run_time7;\n\n\nidle_time_total = idle_time1 + idle_time2 + idle_time3 + idle_time4 + idle_time5 + idle_time6 + run_time7;\n\nif (idle_time_total == undefined) {\n    idle_time_total = 0; \n    context.set(\"idle_time_total\", idle_time_total); \n}\n\nmsg.run_time_total = run_time_total; \nmsg.idle_time_total = idle_time_total;\n\n\navailability = run_time_total / msg.planned_production_time;\n\nif ((product_count >= 1) && (run_time_total >= 1)) {\n    performance = (msg.ideal_cycle_time * product_count) / run_time_total;\n\n}\n\nelse {\n    performance = 0; \n}\n\nquality = 1;\n\nOEE = (availability * performance * quality) * 100;\n\nmsg.availability = availability*100;\nmsg.performance = performance*100; \nmsg.quality = quality*100; \nmsg.OEE = OEE; \nmsg.product_count = product_count;\n\n\n\nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":2080,"y":740,"wires":[["728efc2e.861294","8582c8ad.ec5048","fb2c7624.a36ed8","ea9e8ed1.c21af","f453fa25.1c6068","caa30884.b9db18","cf64b835.c2f598","1470ad53.12f753","3ca11a97.039af6","af05bc8d.0bd85"]],"_type":"node"},{"id":"9df11b04.d93df8","type":"function","z":"21162a.fdec09d6","name":"","func":"var a = flow.get(\"a\")\na = msg.payload \nflow.set(\"a\", a)\nreturn msg;\n","outputs":1,"language":"javascript","noerr":0,"x":2200,"y":1060,"wires":[[]]},{"id":"c336e2d0.a862f","type":"function","z":"21162a.fdec09d6","name":"","func":"var b = flow.get(\"b\")\nb = msg.payload \nflow.set(\"b\", b)\nreturn msg;\n","outputs":1,"language":"javascript","noerr":0,"x":2200,"y":1120,"wires":[[]]},{"id":"5cf3c94c.44fd88","type":"function","z":"21162a.fdec09d6","name":"","func":"var toggle = context.get(\"toggle\") \n\nif (msg.start == true) {\n     toggle = true\n     context.set(\"toggle\", toggle)\n}\nif (msg.start == false) {\n    toggle = false \n    context.set(\"toggle\", toggle)\n}\n\nif (toggle == true ) {\n    msg.payload = msg.key\n}\n\nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":700,"y":360,"wires":[["34c4766b.7fe3ca"]]},{"id":"c9306d26.4fc39","type":"function","z":"21162a.fdec09d6","name":"","func":"msg.start = msg.payload \n\nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":700,"y":460,"wires":[["5cf3c94c.44fd88"]]},{"id":"5bf8aa6c.2d1ff4","type":"function","z":"21162a.fdec09d6","name":"","func":"msg.reset1 = true\nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":1360,"y":1060,"wires":[["5d3325a5.f6b6bc"]]},{"id":"89a83c49.8e3ef","type":"function","z":"21162a.fdec09d6","name":"","func":"msg.reset = true\n\n\nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":1360,"y":1120,"wires":[["29d0a1af.1fefce","5109d666.eb4db8","abaee1f6.a8b7c","582a215.1b0f9e","83528030.c000a","93c302f.88267","4e6f756d.70ed2c"]]},{"id":"29d0a1af.1fefce","type":"function","z":"21162a.fdec09d6","name":"Station 1 Function","func":"msg.s2 = msg.payload[0].FM_position;\n\nlet clock_value = context.get(\"clock_value\") || 0; \n\nvar toggle = context.get(\"toggle\") || 0; \n\nvar hitobject = context.get(\"hitobject\"); \n\nvar stop_time = context.get(\"stop_time\") || 0; \nvar idle_time1 = context.get(\"idle_time1\") || 0; \n\nif (hitobject == undefined) { \n    hitobject = true; \n    context.set(\"hitobject\", hitobject);\n}\n\nif (msg.reset == true) { \n    clock_value = 0;\n    idle_time1 = 0; \n    context.set(\"clock_value\", clock_value);\n    context.set(\"idle_time1\", idle_time1);\n}\n\nif (msg.s2 == false) { \n    idle_time1++;\n    msg.idle_time1 = idle_time1; \n    context.set(\"idle_time1\", idle_time1); \n}\n\nif (msg.s2 == true) { \n    msg.idle_time1 = idle_time1\n}\n\nif ((msg.s2 == true) && (hitobject == true )) {\n    toggle = 1;\n    hitobject = false; \n    context.set(\"toggle\", toggle); \n    context.set(\"hitobject\", hitobject); \n    msg.test = (\"toggle 'ON'\");\n}\n\nelse if ((msg.s2 == true) &&  (hitobject == false)) {\n    hitobject = false; \n    context.set(\"hitobject\", hitobject);\n}\n\nelse if ((msg.s2 == false) && (hitobject == false)) {\n    toggle = 0; \n    hitobject = true; \n    context.get(\"toggle\");\n    msg.time1 = clock_value;\n    context.set(\"toggle\", toggle);\n    context.set(\"hitobject\", hitobject); \n    msg.test = (\"Toggle 'OFF'\");\n    \n} \n\nelse if ((msg.s2 == false) && (hitobject == true)) {\n    hitobject = true;\n    context.set(\"hitobject\", hitobject); \n}\n\nif (toggle == 1) {\n    clock_value++;\n    if (clock_value < 0) clock_value = 0;\n\n    context.set(\"clock_value\", clock_value);\n    msg.sec1 = clock_value\n    let mins = Math.floor(clock_value/60);\n    let secs = clock_value % 60;\n\n    msg.time = (mins + (secs / 100.0)).toFixed(2)\n    msg.time = Number(msg.time);\n}\n\n\nmsg.run_time1 = clock_value\n\n\nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":1630,"y":500,"wires":[["c7cd1b27.071aa8"]]},{"id":"5109d666.eb4db8","type":"function","z":"21162a.fdec09d6","name":"Station 2 Function","func":"msg.s2 = msg.payload[0].Meas_position;\n\nlet clock_value = context.get(\"clock_value\") || 0; \n\nvar toggle = context.get(\"toggle\") || 0; \n\nvar hitobject = context.get(\"hitobject\"); \n\nvar stop_time = context.get(\"stop_time\") || 0; \nvar idle_time1 = context.get(\"idle_time1\") || 0; \n\nif (hitobject == undefined) { \n    hitobject = true; \n    context.set(\"hitobject\", hitobject);\n}\n\nif (msg.reset == true) { \n    clock_value = 0;\n    idle_time1 = 0; \n    context.set(\"clock_value\", clock_value);\n    context.set(\"idle_time1\", idle_time1);\n}\n\nif (msg.s2 == false) { \n    idle_time1++;\n    msg.idle_time2 = idle_time1; \n    context.set(\"idle_time1\", idle_time1); \n}\n\nif (msg.s2 == true) { \n    msg.idle_time2 = idle_time1\n}\n\nif ((msg.s2 == true) && (hitobject == true )) {\n    toggle = 1;\n    hitobject = false; \n    context.set(\"toggle\", toggle); \n    context.set(\"hitobject\", hitobject); \n    msg.test = (\"toggle 'ON'\");\n}\n\nelse if ((msg.s2 == true) &&  (hitobject == false)) {\n    hitobject = false; \n    context.set(\"hitobject\", hitobject);\n}\n\nelse if ((msg.s2 == false) && (hitobject == false)) {\n    toggle = 0; \n    hitobject = true; \n    context.get(\"toggle\");\n    msg.time1 = clock_value;\n    context.set(\"toggle\", toggle);\n    context.set(\"hitobject\", hitobject); \n    msg.test = (\"Toggle 'OFF'\");\n    \n} \n\nelse if ((msg.s2 == false) && (hitobject == true)) {\n    hitobject = true;\n    context.set(\"hitobject\", hitobject); \n}\n\nif (toggle == 1) {\n    clock_value++;\n    if (clock_value < 0) clock_value = 0;\n\n    context.set(\"clock_value\", clock_value);\n    msg.sec1 = clock_value\n    let mins = Math.floor(clock_value/60);\n    let secs = clock_value % 60;\n\n    msg.time = (mins + (secs / 100.0)).toFixed(2)\n    msg.time = Number(msg.time);\n}\n\n\nmsg.run_time2 = clock_value\n\n\nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":1630,"y":580,"wires":[["c7cd1b27.071aa8"]]},{"id":"abaee1f6.a8b7c","type":"function","z":"21162a.fdec09d6","name":"Station 3 Function","func":"msg.s2 = msg.payload[0].Drill_position;\n\nlet clock_value = context.get(\"clock_value\") || 0; \n\nvar toggle = context.get(\"toggle\") || 0; \n\nvar hitobject = context.get(\"hitobject\"); \n\nvar stop_time = context.get(\"stop_time\") || 0; \nvar idle_time1 = context.get(\"idle_time1\") || 0; \n\nif (hitobject == undefined) { \n    hitobject = true; \n    context.set(\"hitobject\", hitobject);\n}\n\nif (msg.reset == true) { \n    clock_value = 0;\n    idle_time1 = 0; \n    context.set(\"clock_value\", clock_value);\n    context.set(\"idle_time1\", idle_time1);\n}\n\nif (msg.s2 == false) { \n    idle_time1++;\n    msg.idle_time3 = idle_time1; \n    context.set(\"idle_time1\", idle_time1); \n}\n\nif (msg.s2 == true) { \n    msg.idle_time3 = idle_time1\n}\n\nif ((msg.s2 == true) && (hitobject == true )) {\n    toggle = 1;\n    hitobject = false; \n    context.set(\"toggle\", toggle); \n    context.set(\"hitobject\", hitobject); \n    msg.test = (\"toggle 'ON'\");\n}\n\nelse if ((msg.s2 == true) &&  (hitobject == false)) {\n    hitobject = false; \n    context.set(\"hitobject\", hitobject);\n}\n\nelse if ((msg.s2 == false) && (hitobject == false)) {\n    toggle = 0; \n    hitobject = true; \n    context.get(\"toggle\");\n    msg.time1 = clock_value;\n    context.set(\"toggle\", toggle);\n    context.set(\"hitobject\", hitobject); \n    msg.test = (\"Toggle 'OFF'\");\n    \n} \n\nelse if ((msg.s2 == false) && (hitobject == true)) {\n    hitobject = true;\n    context.set(\"hitobject\", hitobject); \n}\n\nif (toggle == 1) {\n    clock_value++;\n    if (clock_value < 0) clock_value = 0;\n\n    context.set(\"clock_value\", clock_value);\n    msg.sec1 = clock_value\n    let mins = Math.floor(clock_value/60);\n    let secs = clock_value % 60;\n\n    msg.time = (mins + (secs / 100.0)).toFixed(2)\n    msg.time = Number(msg.time);\n}\n\n\nmsg.run_time3 = clock_value\n\n\nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":1630,"y":660,"wires":[["c7cd1b27.071aa8"]]},{"id":"582a215.1b0f9e","type":"function","z":"21162a.fdec09d6","name":"Station 4 Function","func":"msg.s2 = msg.payload[0].iPICK_position;\n\n\nlet clock_value = context.get(\"clock_value\") || 0; \n\nvar toggle = context.get(\"toggle\") || 0; \n\nvar hitobject = context.get(\"hitobject\"); \n\nvar stop_time = context.get(\"stop_time\") || 0; \nvar idle_time1 = context.get(\"idle_time1\") || 0; \n\nif (hitobject == undefined) { \n    hitobject = true; \n    context.set(\"hitobject\", hitobject);\n}\n\nif (msg.reset == true) { \n    clock_value = 0;\n    idle_time1 = 0; \n    context.set(\"clock_value\", clock_value);\n    context.set(\"idle_time1\", idle_time1);\n}\n\nif (msg.s2 == false) { \n    idle_time1++;\n    msg.idle_time4 = idle_time1; \n    context.set(\"idle_time1\", idle_time1); \n}\n\nif (msg.s2 == true) { \n    msg.idle_time4 = idle_time1\n}\n\nif ((msg.s2 == true) && (hitobject == true )) {\n    toggle = 1;\n    hitobject = false; \n    context.set(\"toggle\", toggle); \n    context.set(\"hitobject\", hitobject); \n    msg.test = (\"toggle 'ON'\");\n}\n\nelse if ((msg.s2 == true) &&  (hitobject == false)) {\n    hitobject = false; \n    context.set(\"hitobject\", hitobject);\n}\n\nelse if ((msg.s2 == false) && (hitobject == false)) {\n    toggle = 0; \n    hitobject = true; \n    context.get(\"toggle\");\n    msg.time1 = clock_value;\n    context.set(\"toggle\", toggle);\n    context.set(\"hitobject\", hitobject); \n    msg.test = (\"Toggle 'OFF'\");\n    \n} \n\nelse if ((msg.s2 == false) && (hitobject == true)) {\n    hitobject = true;\n    context.set(\"hitobject\", hitobject); \n}\n\nif (toggle == 1) {\n    clock_value++;\n    if (clock_value < 0) clock_value = 0;\n\n    context.set(\"clock_value\", clock_value);\n    msg.sec1 = clock_value\n    let mins = Math.floor(clock_value/60);\n    let secs = clock_value % 60;\n\n    msg.time = (mins + (secs / 100.0)).toFixed(2)\n    msg.time = Number(msg.time);\n}\n\n\nmsg.run_time4 = clock_value\n\n\nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":1630,"y":740,"wires":[["c7cd1b27.071aa8"]]},{"id":"83528030.c000a","type":"function","z":"21162a.fdec09d6","name":"Station 5 Function ","func":"msg.s2 = msg.payload[0].BM_position;\n\n\nlet clock_value = context.get(\"clock_value\") || 0; \n\nvar toggle = context.get(\"toggle\") || 0; \n\nvar hitobject = context.get(\"hitobject\"); \n\nvar stop_time = context.get(\"stop_time\") || 0; \nvar idle_time1 = context.get(\"idle_time1\") || 0; \n\nif (hitobject == undefined) { \n    hitobject = true; \n    context.set(\"hitobject\", hitobject);\n}\n\nif (msg.reset == true) { \n    clock_value = 0;\n    idle_time1 = 0; \n    context.set(\"clock_value\", clock_value);\n    context.set(\"idle_time1\", idle_time1);\n}\n\nif (msg.s2 == false) { \n    idle_time1++;\n    msg.idle_time5 = idle_time1; \n    context.set(\"idle_time1\", idle_time1); \n}\n\nif (msg.s2 == true) { \n    msg.idle_time5 = idle_time1\n}\n\nif ((msg.s2 == true) && (hitobject == true )) {\n    toggle = 1;\n    hitobject = false; \n    context.set(\"toggle\", toggle); \n    context.set(\"hitobject\", hitobject); \n    msg.test = (\"toggle 'ON'\");\n}\n\nelse if ((msg.s2 == true) &&  (hitobject == false)) {\n    hitobject = false; \n    context.set(\"hitobject\", hitobject);\n}\n\nelse if ((msg.s2 == false) && (hitobject == false)) {\n    toggle = 0; \n    hitobject = true; \n    context.get(\"toggle\");\n    msg.time1 = clock_value;\n    context.set(\"toggle\", toggle);\n    context.set(\"hitobject\", hitobject); \n    msg.test = (\"Toggle 'OFF'\");\n    \n} \n\nelse if ((msg.s2 == false) && (hitobject == true)) {\n    hitobject = true;\n    context.set(\"hitobject\", hitobject); \n}\n\nif (toggle == 1) {\n    clock_value++;\n    if (clock_value < 0) clock_value = 0;\n\n    context.set(\"clock_value\", clock_value);\n    msg.sec1 = clock_value\n    let mins = Math.floor(clock_value/60);\n    let secs = clock_value % 60;\n\n    msg.time = (mins + (secs / 100.0)).toFixed(2)\n    msg.time = Number(msg.time);\n}\n\n\nmsg.run_time5 = clock_value\n\n\nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":1630,"y":820,"wires":[["c7cd1b27.071aa8"]]},{"id":"93c302f.88267","type":"function","z":"21162a.fdec09d6","name":"Station 6 Function","func":"msg.s2 = msg.payload[0].Press_position;\n\n\nlet clock_value = context.get(\"clock_value\") || 0; \n\nvar toggle = context.get(\"toggle\") || 0; \n\nvar hitobject = context.get(\"hitobject\"); \n\nvar stop_time = context.get(\"stop_time\") || 0; \nvar idle_time1 = context.get(\"idle_time1\") || 0; \n\nif (hitobject == undefined) { \n    hitobject = true; \n    context.set(\"hitobject\", hitobject);\n}\n\nif (msg.reset == true) { \n    clock_value = 0;\n    idle_time1 = 0; \n    context.set(\"clock_value\", clock_value);\n    context.set(\"idle_time1\", idle_time1);\n}\n\nif (msg.s2 == false) { \n    idle_time1++;\n    msg.idle_time6 = idle_time1; \n    context.set(\"idle_time1\", idle_time1); \n}\n\nif (msg.s2 == true) { \n    msg.idle_time6 = idle_time1\n}\n\nif ((msg.s2 == true) && (hitobject == true )) {\n    toggle = 1;\n    hitobject = false; \n    context.set(\"toggle\", toggle); \n    context.set(\"hitobject\", hitobject); \n    msg.test = (\"toggle 'ON'\");\n}\n\nelse if ((msg.s2 == true) &&  (hitobject == false)) {\n    hitobject = false; \n    context.set(\"hitobject\", hitobject);\n}\n\nelse if ((msg.s2 == false) && (hitobject == false)) {\n    toggle = 0; \n    hitobject = true; \n    context.get(\"toggle\");\n    msg.time1 = clock_value;\n    context.set(\"toggle\", toggle);\n    context.set(\"hitobject\", hitobject); \n    msg.test = (\"Toggle 'OFF'\");\n    \n} \n\nelse if ((msg.s2 == false) && (hitobject == true)) {\n    hitobject = true;\n    context.set(\"hitobject\", hitobject); \n}\n\nif (toggle == 1) {\n    clock_value++;\n    if (clock_value < 0) clock_value = 0;\n\n    context.set(\"clock_value\", clock_value);\n    msg.sec1 = clock_value\n    let mins = Math.floor(clock_value/60);\n    let secs = clock_value % 60;\n\n    msg.time = (mins + (secs / 100.0)).toFixed(2)\n    msg.time = Number(msg.time);\n}\n\n\nmsg.run_time6 = clock_value\n\n\nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":1630,"y":900,"wires":[["c7cd1b27.071aa8"]]},{"id":"4e6f756d.70ed2c","type":"function","z":"21162a.fdec09d6","name":"Station 7 Function","func":"msg.s2 = msg.payload[0].Out_position;\n\n\nlet clock_value = context.get(\"clock_value\") || 0; \n\nvar toggle = context.get(\"toggle\") || 0; \n\nvar hitobject = context.get(\"hitobject\"); \n\nvar stop_time = context.get(\"stop_time\") || 0; \nvar idle_time1 = context.get(\"idle_time1\") || 0; \n\nif (hitobject == undefined) { \n    hitobject = true; \n    context.set(\"hitobject\", hitobject);\n}\n\nif (msg.reset == true) { \n    clock_value = 0;\n    idle_time1 = 0; \n    context.set(\"clock_value\", clock_value);\n    context.set(\"idle_time1\", idle_time1);\n}\n\nif (msg.s2 == false) { \n    idle_time1++;\n    msg.idle_time7 = idle_time1; \n    context.set(\"idle_time1\", idle_time1); \n}\n\nif (msg.s2 == true) { \n    msg.idle_time7 = idle_time1\n}\n\nif ((msg.s2 == true) && (hitobject == true )) {\n    toggle = 1;\n    hitobject = false; \n    context.set(\"toggle\", toggle); \n    context.set(\"hitobject\", hitobject); \n    msg.test = (\"toggle 'ON'\");\n}\n\nelse if ((msg.s2 == true) &&  (hitobject == false)) {\n    hitobject = false; \n    context.set(\"hitobject\", hitobject);\n}\n\nelse if ((msg.s2 == false) && (hitobject == false)) {\n    toggle = 0; \n    hitobject = true; \n    context.get(\"toggle\");\n    msg.time1 = clock_value;\n    context.set(\"toggle\", toggle);\n    context.set(\"hitobject\", hitobject); \n    msg.test = (\"Toggle 'OFF'\");\n    \n} \n\nelse if ((msg.s2 == false) && (hitobject == true)) {\n    hitobject = true;\n    context.set(\"hitobject\", hitobject); \n}\n\nif (toggle == 1) {\n    clock_value++;\n    if (clock_value < 0) clock_value = 0;\n\n    context.set(\"clock_value\", clock_value);\n    msg.sec1 = clock_value\n    let mins = Math.floor(clock_value/60);\n    let secs = clock_value % 60;\n\n    msg.time = (mins + (secs / 100.0)).toFixed(2)\n    msg.time = Number(msg.time);\n}\n\n\nmsg.run_time7 = clock_value\n\n\nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":1630,"y":980,"wires":[["c7cd1b27.071aa8"]]},{"id":"be385dfe.5e37c","type":"inject","z":"21162a.fdec09d6","name":"Activation","topic":"","payload":"","payloadType":"date","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"NaN","once":false,"properties":"","timezone":"utc","showNextExecution":false,"powerMode":false,"x":520,"y":360,"wires":[["5cf3c94c.44fd88"]]},{"id":"dde082a1.8d944","type":"inject","z":"21162a.fdec09d6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"0","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","showNextExecution":false,"powerMode":false,"x":720,"y":700,"wires":[["2483332b.c67a8c","7031c83e.5e9c68","3d7d2e6.3f345d2","68f294d5.5cd36c","57c1ea7a.717194","422d2efa.fa728","662464e8.2b309c","d7d271e7.de815"]]},{"id":"c7cd1b27.071aa8","type":"join","z":"21162a.fdec09d6","name":"","mode":"custom","build":"merged","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"1","count":"10","x":1890,"y":740,"wires":[["7173ee0a.bac44"]]},{"id":"3ca11a97.039af6","type":"list objects","z":"21162a.fdec09d6","name":"","subtenant":"203032873d716952888c5e1cdc99449e","path":"/CR timeseries data/","x":2290,"y":540,"wires":[["3707e2fe.7af7be"]]},{"id":"7031c83e.5e9c68","type":"read timeseries","z":"21162a.fdec09d6","name":"","topic":"f92258386ea548e28461a1f6b3d05f1f/FrontMag_Aspect_Chris/FM_position","topicLabel":"CP_Lab_Station_1_Chris/FrontMag_Aspect_Chris/FM_position","topicData":"{\"asset\":\"f92258386ea548e28461a1f6b3d05f1f\",\"assetName\":\"CP_Lab_Station_1_Chris\",\"aspects\":[{\"aspectId\":\"c1256485a57b4db998cfb6bf3f99eec5\",\"aspectName\":\"FrontMag_Aspect_Chris\",\"variables\":[{\"variableId\":\"JN9a59de22f63b\",\"name\":\"FM_position\"}]}]}","assetName":"","selectedTopics":"","period":"60","offset":"0","mode":"latestValue","from":"","datetimepickerFrom":"","to":"","datetimepickerTo":"","timezoneoffset":0,"x":1220,"y":500,"wires":[["29d0a1af.1fefce"]]},{"id":"3d7d2e6.3f345d2","type":"read timeseries","z":"21162a.fdec09d6","name":"","topic":"1d2d2480ec2e4709a4a849af108dd229/Meas_Aspect_Chris/Meas_position","topicLabel":"CP_Lab_Station_2_Chris/Meas_Aspect_Chris/Meas_position","topicData":"{\"asset\":\"1d2d2480ec2e4709a4a849af108dd229\",\"assetName\":\"CP_Lab_Station_2_Chris\",\"aspects\":[{\"aspectId\":\"507b619a97bc4abba0cdbe8ec933e39a\",\"aspectName\":\"Meas_Aspect_Chris\",\"variables\":[{\"variableId\":\"KH9a59de800a25\",\"name\":\"Meas_position\"}]}]}","assetName":"","selectedTopics":"","period":"60","offset":"0","mode":"latestValue","from":"","datetimepickerFrom":"","to":"","datetimepickerTo":"","timezoneoffset":0,"x":1220,"y":580,"wires":[["5109d666.eb4db8"]]},{"id":"68f294d5.5cd36c","type":"read timeseries","z":"21162a.fdec09d6","name":"","topic":"3b830bd17b7a413bb7d74bfafbb4102e/Drill_Aspect_Chris/Drill_position","topicLabel":"CP_Lab_Station_3_Chris/Drill_Aspect_Chris/Drill_position","topicData":"{\"asset\":\"3b830bd17b7a413bb7d74bfafbb4102e\",\"assetName\":\"CP_Lab_Station_3_Chris\",\"aspects\":[{\"aspectId\":\"8f82fe59d6d44d4a981ebd31a6e423df\",\"aspectName\":\"Drill_Aspect_Chris\",\"variables\":[{\"variableId\":\"JQ9a59decc558a\",\"name\":\"Drill_position\"}]}]}","assetName":"","selectedTopics":"","period":"60","offset":"0","mode":"latestValue","from":"","datetimepickerFrom":"","to":"","datetimepickerTo":"","timezoneoffset":0,"x":1210,"y":660,"wires":[["abaee1f6.a8b7c"]]},{"id":"57c1ea7a.717194","type":"read timeseries","z":"21162a.fdec09d6","name":"","topic":"58b2684e22d54334a67198267dcf6f60/iPICK_Aspect_Chris/iPICK_position","topicLabel":"CP_Lab_Station_4_Chris/iPICK_Aspect_Chris/iPICK_position","topicData":"{\"asset\":\"58b2684e22d54334a67198267dcf6f60\",\"assetName\":\"CP_Lab_Station_4_Chris\",\"aspects\":[{\"aspectId\":\"e6c13d8f17f2419aa16de8248786741f\",\"aspectName\":\"iPICK_Aspect_Chris\",\"variables\":[{\"variableId\":\"JT9a59df2f842d\",\"name\":\"iPICK_position\"}]}]}","assetName":"","selectedTopics":"","period":"60","offset":"0","mode":"latestValue","from":"","datetimepickerFrom":"","to":"","datetimepickerTo":"","timezoneoffset":0,"x":1210,"y":740,"wires":[["582a215.1b0f9e"]]},{"id":"422d2efa.fa728","type":"read timeseries","z":"21162a.fdec09d6","name":"","topic":"82eb900d197b466280b59618b156ec70/BackMag_Aspect_Chris/BM_position","topicLabel":"CP_Lab_Station_5_Chris/BackMag_Aspect_Chris/BM_position","topicData":"{\"asset\":\"82eb900d197b466280b59618b156ec70\",\"assetName\":\"CP_Lab_Station_5_Chris\",\"aspects\":[{\"aspectId\":\"e4d9a6f12dec45d7a817dde3cd9e31bf\",\"aspectName\":\"BackMag_Aspect_Chris\",\"variables\":[{\"variableId\":\"KK9a59df78c208\",\"name\":\"BM_position\"}]}]}","assetName":"","selectedTopics":"","period":"60","offset":"0","mode":"latestValue","from":"","datetimepickerFrom":"","to":"","datetimepickerTo":"","timezoneoffset":0,"x":1220,"y":820,"wires":[["83528030.c000a"]]},{"id":"662464e8.2b309c","type":"read timeseries","z":"21162a.fdec09d6","name":"","topic":"2def7e3e5f374392b0bbec7b98d05184/Press_Aspect_Chris/Press_position","topicLabel":"CP_Lab_Station_6_Chris/Press_Aspect_Chris/Press_position","topicData":"{\"asset\":\"2def7e3e5f374392b0bbec7b98d05184\",\"assetName\":\"CP_Lab_Station_6_Chris\",\"aspects\":[{\"aspectId\":\"ac852cb1dc644891883d9687b74dc5bb\",\"aspectName\":\"Press_Aspect_Chris\",\"variables\":[{\"variableId\":\"JW9a59dfd8e390\",\"name\":\"Press_position\"}]}]}","assetName":"","selectedTopics":"","period":"60","offset":"0","mode":"latestValue","from":"","datetimepickerFrom":"","to":"","datetimepickerTo":"","timezoneoffset":0,"x":1210,"y":900,"wires":[["93c302f.88267"]]},{"id":"d7d271e7.de815","type":"read timeseries","z":"21162a.fdec09d6","name":"","topic":"4a152d9a66ec4def92c1e90970f7393f/Out_Aspect_Chris/Out_position","topicLabel":"CP_Lab_Station_7_Chris/Out_Aspect_Chris/Out_position","topicData":"{\"asset\":\"4a152d9a66ec4def92c1e90970f7393f\",\"assetName\":\"CP_Lab_Station_7_Chris\",\"aspects\":[{\"aspectId\":\"e6c7ed97bed3400595e2484efab95dff\",\"aspectName\":\"Out_Aspect_Chris\",\"variables\":[{\"variableId\":\"KQ9a59e069d8ce\",\"name\":\"Out_position\"}]}]}","assetName":"","selectedTopics":"","period":"60","offset":"0","mode":"latestValue","from":"","datetimepickerFrom":"","to":"","datetimepickerTo":"","timezoneoffset":0,"x":1200,"y":980,"wires":[["4e6f756d.70ed2c"]]},{"id":"2483332b.c67a8c","type":"read timeseries","z":"21162a.fdec09d6","name":"","topic":"4a152d9a66ec4def92c1e90970f7393f/Out_Aspect_Chris/Out_position","topicLabel":"CP_Lab_Station_7_Chris/Out_Aspect_Chris/Out_position","topicData":"{\"asset\":\"4a152d9a66ec4def92c1e90970f7393f\",\"assetName\":\"CP_Lab_Station_7_Chris\",\"aspects\":[{\"aspectId\":\"e6c7ed97bed3400595e2484efab95dff\",\"aspectName\":\"Out_Aspect_Chris\",\"variables\":[{\"variableId\":\"KQ9a59e069d8ce\",\"name\":\"Out_position\"}]}]}","assetName":"","selectedTopics":"","period":"60","offset":"0","mode":"latestValue","from":"","datetimepickerFrom":"","to":"","datetimepickerTo":"","timezoneoffset":0,"x":1210,"y":360,"wires":[["5d3325a5.f6b6bc"]]},{"id":"34c4766b.7fe3ca","type":"switch","z":"21162a.fdec09d6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"key","vt":"msg"}],"checkall":"true","outputs":1,"x":870,"y":360,"wires":[["2483332b.c67a8c","7031c83e.5e9c68","3d7d2e6.3f345d2","68f294d5.5cd36c","57c1ea7a.717194","422d2efa.fa728","662464e8.2b309c","d7d271e7.de815"]]},{"id":"65810220.515b6c","type":"ui_button","z":"21162a.fdec09d6","name":"","group":"545cc5fa.03029c","order":3,"width":0,"singleBrowser":false,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","powerMode":false,"x":1190,"y":1120,"wires":[["5bf8aa6c.2d1ff4","89a83c49.8e3ef"]]},{"id":"d01d9734.1721c8","type":"ui_gauge","z":"21162a.fdec09d6","name":"","group":"f67ec804.730e98","order":0,"width":"0","singleBrowser":false,"height":"0","gtype":"gage","title":"OEE","label":"%","format":"{{value | number:1}}%","min":0,"max":"100","colors":["#b30000","#e67a00","#3acb4a"],"seg1":"40","seg2":"70","x":2690,"y":1140,"wires":[]},{"id":"7fbb2bc5.737614","type":"ui_gauge","z":"21162a.fdec09d6","name":"","group":"cfb484a8.2a1c18","order":0,"width":0,"singleBrowser":false,"height":0,"gtype":"gage","title":"Availability","label":"%","format":"{{value | number:1}}%","min":0,"max":"100","colors":["#b30000","#e67a00","#3acb4a"],"seg1":"40","seg2":"70","x":2710,"y":1080,"wires":[]},{"id":"eba948d1.52f2c8","type":"ui_gauge","z":"21162a.fdec09d6","name":"","group":"cfb484a8.2a1c18","order":0,"width":0,"singleBrowser":false,"height":0,"gtype":"gage","title":"Performance","label":"%","format":"{{value | number:1}}%","min":0,"max":"100","colors":["#b30000","#e67a00","#3acb4a"],"seg1":"40","seg2":"70","x":2710,"y":1020,"wires":[],"_type":"node"},{"id":"32c97ed2.fa6692","type":"ui_gauge","z":"21162a.fdec09d6","name":"","group":"cfb484a8.2a1c18","order":0,"width":0,"singleBrowser":false,"height":0,"gtype":"gage","title":"Quality","label":"%","format":"{{value | number:1}}%","min":0,"max":"100","colors":["#b30000","#e67a00","#3acb4a"],"seg1":"40","seg2":"70","x":2700,"y":960,"wires":[],"_type":"node"},{"id":"54cbfafc.71ed94","type":"ui_led","z":"21162a.fdec09d6","group":"545cc5fa.03029c","order":2,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","singleBrowser":false,"x":690,"y":520,"wires":[]},{"id":"b3568335.85e48","type":"ui_switch","z":"21162a.fdec09d6","name":"","label":"OFF/ON","tooltip":"","group":"545cc5fa.03029c","order":1,"width":"0","singleBrowser":false,"height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","powerMode":false,"x":520,"y":460,"wires":[["c9306d26.4fc39","54cbfafc.71ed94"]]},{"id":"d45a325a.1fc9f","type":"ui_text","z":"21162a.fdec09d6","group":"6735e0b1.2a239","order":0,"width":0,"singleBrowser":false,"height":0,"name":"","label":"Total Run Time ","format":"{{msg.payload}}","layout":"row-center","x":2640,"y":860,"wires":[]},{"id":"9fb366cb.df8ec8","type":"ui_text","z":"21162a.fdec09d6","group":"6735e0b1.2a239","order":0,"width":0,"singleBrowser":false,"height":0,"name":"","label":"Total Idle Time","format":"{{msg.payload}}","layout":"row-center","x":2640,"y":800,"wires":[]},{"id":"5bb6f336.f555fc","type":"ui_text","z":"21162a.fdec09d6","group":"6735e0b1.2a239","order":0,"width":0,"singleBrowser":false,"height":0,"name":"","label":"Total Products","format":"{{msg.payload}}","layout":"row-center","x":2640,"y":740,"wires":[]},{"id":"9cda74a3.d0b2d8","type":"ui_text_input","z":"21162a.fdec09d6","name":"","label":"Planned Production Time (s)","group":"545cc5fa.03029c","order":4,"width":0,"singleBrowser":false,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","powerMode":false,"x":1980,"y":1060,"wires":[["9df11b04.d93df8"]],"_type":"node"},{"id":"ac9b41a2.b906d","type":"ui_text_input","z":"21162a.fdec09d6","name":"","label":"Ideal Cycle Time (s)","group":"545cc5fa.03029c","order":5,"width":0,"singleBrowser":false,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","powerMode":false,"x":2010,"y":1120,"wires":[["c336e2d0.a862f"]],"_type":"node"},{"id":"1470ad53.12f753","type":"write object","z":"21162a.fdec09d6","name":"","path":"/data/sub=203032873d716952888c5e1cdc99449e/CR timeseries data/30.","mode":"object","x":2470,"y":440,"wires":[]},{"id":"545cc5fa.03029c","type":"ui_group","z":"","name":"Activation & Time ","tab":"fa542dd5.68ce8","order":1,"disp":true,"width":"7","collapse":false,"_type":"config"},{"id":"f67ec804.730e98","type":"ui_group","z":"","name":"OEE","tab":"fa542dd5.68ce8","order":4,"disp":true,"width":"6","collapse":false,"_type":"config"},{"id":"cfb484a8.2a1c18","type":"ui_group","z":"","name":"Availability, Peformance, Quality","tab":"fa542dd5.68ce8","order":3,"disp":true,"width":"6","collapse":false,"_type":"config"},{"id":"6735e0b1.2a239","type":"ui_group","z":"","name":"Total Time","tab":"fa542dd5.68ce8","order":2,"disp":true,"width":"6","collapse":false,"_type":"config"},{"id":"fa542dd5.68ce8","type":"ui_tab","z":"","name":"Performance Dashboard ","icon":"dashboard","publicAccess":"true","fmAccess":"none","fmAccessType":"private","assetType":"","asset":"","assetName":"","assetText":"","image":"","description":"","hideTitleBar":false,"_type":"config"}]
